h1 {
    text-align:center;
    font-style: italic;
    text-transform: capitalize;
    text-decoration-line:underline;
    color:black;
    
}

body {
    margin:0;
    padding: 0;
    background: url("https://images.pexels.com/photos/696644/pexels-photo-696644.jpeg");
    background-size: cover;
    background-repeat: No repeat;
}
.Login{
    text-align:center
}




.box {
      width: 250px;           
      height: 220px;          
      background-color: rgb(115, 113, 114); 
      border: 2px solid #090909ff; 
      border-radius: 10px;    
      padding: 20px;          
      margin: 50px auto;      
      color: white;           
      text-align: center;     
    }

    



.tripimages {
    display:flex;
    overflow-x:scroll;
    flex: 0 0 auto;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    margin-bottom: 8px;

}

.tripimages  {
    height:150px;
    width 400px;
    object-fit:cover;
    gap:10px;
    

     

}

.tripimages::-webkit-scrollbar{
    display: none;
}




.text {
    text-decoration-line: underline;
}


#A {
    padding: 12px 28px;
     position: absolute;
    top: 20px;
    right:300px; 
    border-radius:50px;
   
}



#B{
    padding: 12px 28px;
     position: absolute;
    top: 20px;
    right: 160px; 
    border-radius:50px;
   
}

#C {
    padding: 12px 28px;
     position: absolute;
    top: 20px;
    right:50px; 
    border-radius:50px;
    
}

